.form-group {
    label {
        margin-top: 10px;
    }
}

.prompt-container {
    .form-control {
        height: 100px;
    }
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.response-box {
    padding: 5px 10px 20px;
    background: #e7eaed;
    border-radius: 5px;

    .heading {
        margin-top: 0px !important;
    }
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 5px;
}
.mt-15 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}

// loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #0dc8fd;
  font-size: 10px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.delete {
    color: red;
}
// tooltip
.tooltip-container {
    position: relative;
    display: inline-block;
  }

  .tooltip-container:hover {
      cursor: pointer;
  }
  
  .tooltip-container .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
